<!--The content below is only a placeholder and can be replaced.-->

<!-- Login Form -->
<form action="">
  <label for="name">Name</label>
  <input name="name" type="text" [(ngModel)]=name><br><br>
  <label for="password">Password</label>
  <input name="password" type="password" [(ngModel)]=password><br><br>
  <input type="submit" value="Login" (click)="login()">
</form>

<p *ngIf="status; else error">The user has logged in</p>
<ng-template #error>
<p>Username or password is not correct</p>
</ng-template>


<ul>
  <li *ngFor="let name of names"><h2>id:{{name.id}}</h2><h2>name:{{name.name}}</h2> </li>
</ul>